html {
	background-color: #1f2124;
}
body {
	background-color: transparent;
	color: #fff;
}

h1 {
	color: #555658;
}

.emoji-anim {
	display: inline-block;
	position: relative;
	width: 28px;
	white-space: nowrap;
	vertical-align: text-bottom;
}
.emoji-anim .emoji-anim-emoji {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 28px;
	text-align: center;
	-webkit-transform: translateX(-50px) rotate(-540deg);
            transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
	-webkit-animation: roll-in-left 28s ease-out infinite;
	        animation: roll-in-left 28s ease-out infinite;
}
.emoji-anim-emoji:nth-child(1) {
	position: relative;
}
.emoji-anim-emoji:nth-child(2) {animation-delay: 2s;}
.emoji-anim-emoji:nth-child(3) {animation-delay: 4s;}
.emoji-anim-emoji:nth-child(4) {animation-delay: 6s;}
.emoji-anim-emoji:nth-child(5) {animation-delay: 8s;}
.emoji-anim-emoji:nth-child(6) {animation-delay: 10s;}
.emoji-anim-emoji:nth-child(7) {animation-delay: 12s;}
.emoji-anim-emoji:nth-child(8) {animation-delay: 14s;}
.emoji-anim-emoji:nth-child(9) {animation-delay: 16s;}
.emoji-anim-emoji:nth-child(10) {animation-delay: 18s;}
.emoji-anim-emoji:nth-child(11) {animation-delay: 20s;}
.emoji-anim-emoji:nth-child(12) {animation-delay: 22s;}
.emoji-anim-emoji:nth-child(13) {animation-delay: 24s;}
.emoji-anim-emoji:nth-child(14) {animation-delay: 26s;}
.emoji-anim-emoji:nth-child(15) {animation-delay: 28s;}	

@-webkit-keyframes roll-in-left {
	0% {
		-webkit-transform: translateX(-50px) rotate(-540deg);
		transform: translateX(-50px) rotate(-540deg);
		opacity: 0;
	}
	3.57%, 7.14% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
    	opacity: 1;
  	}
	10.71%, 100% {
		-webkit-transform: translateX(-50px) rotate(-540deg);
		transform: translateX(-50px) rotate(-540deg);
		opacity: 0;
	}
}
@keyframes roll-in-left {
	0% {
		-webkit-transform: translateX(-50px) rotate(-540deg);
		transform: translateX(-50px) rotate(-540deg);
		opacity: 0;
	}
	3.57%, 7.14% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
    	opacity: 1;
  	}
	10.71%, 100% {
		-webkit-transform: translateX(-50px) rotate(-540deg);
		transform: translateX(-50px) rotate(-540deg);
		opacity: 0;
	}
}



.users {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.user {
	width: calc(50% - 5px);
	box-sizing: border-box;
	background-color: #3b3e46;
	cursor: pointer;
	border-radius: 4px;
	color: #ffffff;
	padding: 5px 0 0 5px;
	margin: 5px 0;
	-webkit-box-shadow: 0px 2px 11px 0px #0f1011;
	-moz-box-shadow: 0px 2px 11px 0px #0f1011;
	box-shadow: 0px 2px 11px 0px #0f1011;
}
.user-username, .user-post-count {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
	background: linear-gradient(280deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	background-size: 800% 800%;
	-webkit-animation: bg-gradient-anim 19s ease infinite;
	-moz-animation: bg-gradient-anim 19s ease infinite;
	animation: bg-gradient-anim 19s ease infinite;
	color: transparent;
	-webkit-background-clip: text;
}
.user-post-count {
	font-size: 30px;
	background: linear-gradient(30deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	color: transparent;
	-webkit-background-clip: text;
}
.user-post-count:after {
	background: linear-gradient(30deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	background-size: 800% 800%;
	-webkit-animation: bg-gradient-anim 19s ease infinite;
	-moz-animation: bg-gradient-anim 19s ease infinite;
	animation: bg-gradient-anim 19s ease infinite;
	color: transparent;
	-webkit-background-clip: text;
	font-size: 15px;
	content: 'POSTS';
	display: inline-block;
	vertical-align: text-top;
	line-height: 42px;
}

.post:hover, .user:hover {
	transform: scale(1.0075);
}




.post {
	box-sizing: border-box;
	background-color: #3b3e46;
	cursor: pointer;
	border-radius: 4px;
	color: #ffffff;
	padding: 5px 0 0 5px;
	margin: 5px 0;
	-webkit-box-shadow: 0px 2px 11px 0px #0f1011;
	-moz-box-shadow: 0px 2px 11px 0px #0f1011;
	box-shadow: 0px 2px 11px 0px #0f1011;
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: repeat(3, max-content);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: "count      post-username"
                         "post-icon  post-title"
                         "post-icon  post-content";
}

.post-comment-count {
	grid-area: count;
	font-size: 25px;
	padding-left: 33px;
	box-sizing: border-box;
	position: relative;
	line-height: 22px;
}
.post-comment-count:before {
	pointer-events: none;
	content: '🗩';
	position: absolute;
	left: 0px;
	line-height: initial;
	transform: scaleY(1.25) translateY(-10px);
	font-size: 30px;
}
.post-comment-count, .post-comment-count:before {
	background: linear-gradient(30deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	background-size: 800% 800%;
	-webkit-animation: bg-gradient-anim 19s ease infinite;
	-moz-animation: bg-gradient-anim 19s ease infinite;
	animation: bg-gradient-anim 19s ease infinite;
	color: transparent;
	-webkit-background-clip: text;
}

.post-icon {
	grid-area: post-icon;
}
div.post-icon {
	font-size: 100px;
	text-align: center;
	height: 120px;
	line-height: 100px;
	align-self: center;
	min-width: 140px;
}
.post-username {
	grid-area: post-username;
}
.post-title {
	grid-area: post-title;
}
.post-content {
	display: -webkit-box;
	grid-area: post-content;
	word-wrap:break-word;
	max-height: 150px;
	padding: 0px 5px 5px 0px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.post-create {
	position: relative;
	box-sizing: border-box;
	border-bottom: 4px solid #007709;
	background-color: #3b3e46;
	border-radius: 4px;
	color: #ffffff;
	padding: 5px 5px 5px 142px;
	margin: 0 0 10px 0;
	-webkit-box-shadow: 0px 2px 11px 0px #0f1011;
	-moz-box-shadow: 0px 2px 11px 0px #0f1011;
	box-shadow: 0px 2px 11px 0px #0f1011;
	transition: all 200ms ease;
}
.post-create:before {
	content: '✚Post';
	position: absolute;
	font-weight: 600;
	left: 0;
	top: 50%;
	transform: translateY(-50%) scale(1);
	padding-left: 19px;
	font-size: 35px;
	background: linear-gradient(233deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	background-size: 800% 800%;
	-webkit-animation: bg-gradient-anim 19s ease infinite;
	-moz-animation: bg-gradient-anim 19s ease infinite;
	animation: bg-gradient-anim 19s ease infinite;
	color: transparent;
	-webkit-background-clip: text;
	transition: all 200ms ease;
}
.post-create.post-create-focused:before {
	font-size: 20px;
	padding-left: 9px;
}
.post-create.post-create-focused {
	padding-left: 75px;
}


#new-post-title, #new-post-content, .post-create button {
	transition: transform 200ms ease, width 200ms ease;
}
#new-post-username {
	display: inline-block;
	max-width: 200px;
}
#new-post-content {
	margin-bottom: 5px;
}
#new-post-title, .post-create button {
	margin: 5px auto;
}
.post-create button {
	background-color: #007709;
	display: block;
	outline: none;
	border: none;
	width: 180px;
	margin-bottom: 0px;
}

.post-create:not(.post-create-focused) > #new-post-content,
.post-create:not(.post-create-focused) > #new-post-title,
.post-create:not(.post-create-focused) > button {
	transform: scale(0);
	pointer-events: none;
	box-sizing: border-box;
	height: 0px !important;
	padding: 0;
	border: none;
	opacity: 0;
	margin: 0 !important;
	transition: all 200ms ease;
}

@media only screen and (max-width: 575px) {
	.post-create button {
		width: 100%;
	}
	.post-create.post-create-focused:before {
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}
	.post-create.post-create-focused {
		padding-left: 5px;
	}
}

.effect-bg-gradient
{
	background: linear-gradient(233deg, #70f36f, #ffb369, #40e4ff, #fe7aff, #c23eff, #fffb3e);
	background-size: 800% 800%;

	-webkit-animation: bg-gradient-anim 19s ease infinite;
	-moz-animation: bg-gradient-anim 19s ease infinite;
	animation: bg-gradient-anim 19s ease infinite;
}
@-webkit-keyframes bg-gradient-anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg-gradient-anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bg-gradient-anim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
